/* グローバルCSSスタイル */
body, html, #app {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard syntax */
  height: 100%;
  margin: 0;
  padding: 0;
  touch-action: none !important;
}

body {
  font-family: 'M PLUS 1', sans-serif;
  min-height: 100vh; /* bodyも最小の高さをビューポートに合わせる */
  background-color: black; /* ローディング画面のレターボックスの背景色 */
}

/* 特定の要素（例: input や textarea）では選択を許可したい場合 */
input, textarea {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

img {
  -webkit-user-drag: none; /* Safari, Chrome, Edge (WebKitベース) */
  -khtml-user-drag: none;  /* Konqueror HTML */
  -moz-user-drag: none;    /* Firefox */
  -o-user-drag: none;      /* Opera */
  pointer-events: none;    /* クリックイベントなども無効化 */
}

html, body {
  overscroll-behavior: none; /* iOS Safariの弾むようなスクロール効果を無効化 */
  touch-action: none; /* すべてのタッチジェスチャーを無効化 */
}
